::selection {
  background-color: rgba(255,113,208,0.2);
}

h1 {
  font-family: 'Forum', cursive;
  font-size: 44px;
  margin-bottom: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-bottom: 12px;
}

a,
a:hover {
  color: darkcyan;
}

.Signup__grid {
  display: grid;
  grid-template-columns: 8px auto;
  min-height: 100vh;
}

.Signup__flex {
  display: flex;
  align-items: stretch;
  overflow: none;
}

.Signup__divider {
  background-color: gold;
}

.Signup__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 2 1;
  height: 100%;
}

.Signup__description {
  bot
}

.Signup__container {
  padding: 15%;
}

.Signup__art {
  flex: 1 3;
  background: no-repeat bottom 100% left 0 url('assets/art-hero-flowers.png'),
    linear-gradient(to left, #ffe01b 85%, transparent 85%);
}

.Signup__logo {
  padding: 12px;
}

.Signup__footer {
  padding: 15px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(36, 28, 21, 0.65);
}

.Signup__footer-link {
  color: rgba(36, 28, 21, 0.65);
}
